// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Lato|Roboto:300');


// Color Variables
$colorA: #3D5A80;
$colorB: #98C1D9;
$colorC: #E0FBFC;
$colorD: #EE6C4D;
$colorE: #293241;
$colorF: white;

//Font Variables
$font1: "Roboto", san-serif;
$font2: "Lato", san-serif;

//Basic Styling

body {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: $font1;
    min-height: 100vh;
    background: linear-gradient($colorB, $colorE);
    color: $colorF;
}

header { 
   grid-row: 1;
   grid-column: 1 /span 2;
   display: grid;
   grid-template-columns: 1fr auto;
   min-height:  40px;
}
h1 {
    color: $colorF;
    font-family: $font2;

}

#sidebar {
    grid-column: 1;
    grid-row: 1 /span 2;
    background: rgba($colorE, 0.25);
    font-family: $font2;
}

main {
    grid-column: 2;
    grid-row: 2;
    padding: 15px;
}

#main-div {
    margin: 3em;
    color: $colorF;
}
footer {
    grid-row-start: 3;
    grid-column:1 /span 2;
    // background: $colorE;
    color: $colorF;
    text-align: center;
}

//Nav bars

#header-nav {
    color: $colorC;
    list-style-type: none;
    grid-column: 1;
    justify-self: end;
    align-self: center;
    margin-bottom: 0;

}

#logo-header {
    padding: .5em 0 0 0;
    grid-column: 1;
    max-width: 90%;
}

#login {
    background: $colorD;
    font-size: .8em;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

#logout {
    background: $colorD;
    font-size: .8em;
    padding: 0 10px 0 10px;
    cursor: pointer;
}

.sidebar-nav {
    padding: 2em 0 0 0;
}

.sidebar-nav li {
    list-style-type: none;
    text-align: center;
}

.is-hidden {
    display: none;
}
//Header Nav

#header-nav li {
    font-size: .8em;
    font-family: $font2;
    display: inline;
    align-self: center;
    padding: 5px;
    margin: 0 15px 0 15px;
    &:before {
        color: $colorF;
    }
}

//Nav Links

li:link {
    color: $colorF;
}

li:visited {
    color: $colorF;
}

li:hover {
    color: $colorD;
    text-decoration: none;
    cursor: pointer;
}

a:link {
    color: $colorF;
    padding: 5px;
}

a:visited {
    color: $colorF;
    padding: 5px;
}

a:hover {
    color: $colorD;
    padding: 5px;
    text-decoration: none;
    cursor: pointer;
}

//Inventory Form Card Stylings

#gear-div {
    align-self: center;
}

.list-headline {
    display: inline;
}

.addItem-btn {
    display: inline;
    border-radius: 4px;
    background: $colorF;
    cursor: pointer;
}

.itemCard {
    border-top: 1px solid white;
    padding: 10px;

}

.itemCard:hover {
    background: rgba($colorE, 0.25);
}

//Create Item Div

#createItemDiv {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#createItemText {
    grid-column: 1;

}


//button to create item
#createItem-btn {
    background: $colorF;
    border: 2px solid $colorC;
    font-family: $font2;
    grid-column: 2;
    justify-self: center;
    align-self: center;
}

//Modal

#myModal {
    color: $colorE;
}



//Login Button
